<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-section">
    <%= f.label :name, t('.name') %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="field form-section">
    <%= f.label :address, t('.address_html')%><br>
    <%= f.text_field :address, class:"form-control" %>
  </div>
  <div class="field form-section">
    <%= f.label :email, t('.email') %><br>
    <%= f.text_field :email, class:"form-control" %>
  </div>
  <div class="field form-section">
    <%= f.label :payment_type, t('.payment_type')%><br>
    <%= f.collection_select :payment_type_id, @payment_types, :id, :name,  { prompt: t('.pay_prompt') }, class:"form-control" %>
  </div>
  <div class="actions form-section force-inline">
    <button class="btn btn-primary"><%= t('.submit') %></button>
  </div>
<% end %>
