<% if @order.shipped? %>
  <p class="well well-sm">This order has been shipped<span class="pull-right"><small>Ship date: </small><span class="label label-danger label-as-badge"><%= @order.ship_date.strftime("%a %d %b, %Y") %></span></span></p>
<% else %>
  <%= render partial: "orders/action_buttons/#{@order.state}" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    Order Details
  </div>
  <div class="panel-body">
    <table class="table">
      <th>
        <td>
          <strong><%= t('.name') %></strong>
          <%= @order.name %>
        </td>

        <td>
          <strong><%= t('.address') %>:</strong>
          <%= @order.address %>
        </td>

        <td>
          <strong><%= t('.email') %>:</strong>
          <%= @order.email %>
        </td>

        <td>
          <strong><%= t('.pay_type') %>:</strong>
          <%= @order.payment_type.name %>
        </td>
      </th>
    </table>

    <fieldset>
      <legend>Items</legend>

      <section id="order_items">
        <ul>
          <%= render @order.line_items %>
        </ul>
      </section>
    </fieldset>
  </div>
</div>