<% cache [ 'catalogue-item', product ] do %>
  <figure data-id="<%= product.id %>" class="col-md-3 catalogue-item force-inline-block">
    <%= image_tag( image_path(product.image_url), class: "product_image") %>
    <figcaption>
      <p id="some-cached" class="description"><%= product.name %></p>
      <section class="price_section">
        <span class="price pull-left"><%= number_to_currency(product.price, unit: "\u20A6".html_safe) %></span>
        <span class="clearfix"></span>
      </section>

      <section class="action_section">
        <%= button_to line_items_path(product_id: product), class: 'add_to_cart_btn btn btn-default pull-right', remote: true do %>
                <%= content_tag(:i, nil, class:"fa fa-cart-plus") %>
          <span><%= t('store.index.add') %></span>
        <% end %>
        <span class="clearfix"></span>
      </section>
    </figcaption>
  </figure>
<% end %>