<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">MENU</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= store_path %>">Depott  <small id="app-spec">lite</small></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if session[:user_id] %>
        <ul class="nav navbar-nav">
          <li><%= link_to t('.orders'), orders_path %></li>
          <li><%= link_to t('.products'), products_path %></li>
          <li><%= link_to t('.users'), users_path %></li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% unless session[:user_id] %>
          <li><%= link_to 'Login', login_path, class:"btn btn-info header-login" %></li>
        <% end %>
        <li class="dropdown">           
          <% if session[:user_id] %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
              <span><i class="fa fa-user"></i></span>
              <span class="loggedin-user"><%=  session[:visit_count] > 1 ? "Hi" : "Welcome" %></span>
              <span class="caret"></span>
            </a>            
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-cog"></i><span>Settings</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-cart"></i><span>My orders</span></a></li>
            <li class="divider"></li>
            <li>
              <%= link_to signout_path, method: :delete  do %>
                <i class="fa fa-sign-out"></i>
                <span>Sign out</span>
              <% end %>
            </li>
          </ul>
        </li>
        <li></li>
        <li>
          <%= form_tag store_path, class: 'locale' do %>
            <%= select_tag 'set_locale', options_for_select(I18n.available_locales, I18n.locale.to_s), onchange: 'this.form.submit()' %>
            <%= submit_tag 'submit' %>
            <%= javascript_tag "$('.locale input').hide()" %>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>